body { 
	padding-top:50px;
}

.instagram-pic     { 
	position:relative; 
	padding:10px;
	overflow:hidden;
}
.instagram-pic img {
	padding:5px;
	border-radius:2px;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
}
.instagram-bar     { 
	position:absolute; 
	bottom:30px; 
	width:100%; 
	left:0; 
	padding-left:30px; 
	padding-right:30px; 
	color:#FFF;
}

.instagram-bar span   {
	margin-right:5px;
}
.instagram-bar .likes {
	float:left;
}
.instagram-bar .comments {
	float:right; 
}

.user-info {
	background-color: #125688;
	border-radius: 5px;
	padding: 2em;
}

.counts {
	float: right;
	padding-top: 0.5em;
}

.counts li {
	padding-right: 1em;
}

.counts a {
	cursor: default;
}

.user-info > * {
	color: white;
}

.bio {
	padding-top: 0.4em;
}

footer { 
	padding:50px;
}