<!DOCTYPE html> 
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body class="container">
	<header>
		<% include ../partials/header %>
	</header>

	<section>
		<% include ../partials/user %>
	</section>

	<main>
		<div class="row">
			<% elements.forEach(function(elem) { %>
			<div class="instagram-pic col-sm-3">
				<a href="<%= elem.link %>" target="_blank">
					<img src="<%= elem.images.standard_resolution.url %>" class="img-responsive"/>
				</a>

				<div class="instagram-bar">
					<div class="likes">
						<span class="glyphicon glyphicon-heart"></span>
						<%= elem.likes.count %>
					</div>

					<div class="comments">
						<span class="glyphicon glyphicon-comment"></span>
						<%= elem.comments.count %>
					</div>
				</div>

			</div>
			<% }); %>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>